<!DOCTYPE html>
<html lang="en">

<head>
        <%- include('include-meta.ejs', { title: 'Compare editions | Stalwart Labs' ,
                description: 'Discover the differences between the community, small business and enterprise editions of our mail server solution.'
                }) %>,

                <!-- google fonts -->
                <link rel="preconnect" href="https://fonts.googleapis.com">
                <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
                <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@400;500;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap"
                        rel="stylesheet">
                <!-- fonts -->
                <link rel="stylesheet" type="text/css" href="/fonts/unicons/unicons.css">
                <link rel="stylesheet" href="/css/plugins.css">
                <link rel="stylesheet" href="/css/style.css">

</head>

<%
const features = [
{
        "name": "Message Store",
        "isHeader": true
      },
      {
        "name": "JMAP Core",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "JMAP Mail",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "JMAP for WebSockets",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "JMAP Blob",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "JMAP for Quotas",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "IMAP4rev1",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "IMAP4rev2",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "POP3",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Full-text search",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Autoconfig",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Disk quotas",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Sub-addressing & Catch-all",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Mailing lists & Aliases",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "MTA",
        "isHeader": true
      },
      {
        "name": "Programmable",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Rate & concurrency limiting",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Distributed & fault-tolerant queues",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Queue quotas",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Milter integration",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Unlimited virtual queues",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Delayed & priority delivery",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Envelope rewriting",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "DKIM",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "SPF",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "ARC",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "DMARC",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "DANE",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "MTA-STS",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "TLS Reporting",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Report analysis",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Scripting & customization",
        "isHeader": true
      },
      {
        "name": "Sieve Support",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "ManageSieve",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "JMAP for Sieve Scripts",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "REST API",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "MTA hooks",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "AI-powered Sieve Scripts",
        "standard": "-",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Spam & fishing filtering",
        "isHeader": true
      },
      {
        "name": "Spam rules",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Statistical classifier",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "DNSBL",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Collaborative filtering",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Phishing protection",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Trusted reply tracking",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Sender reputation",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Greylisting",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Spam traps",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "LLM classifier",
        "standard": "-",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Contacts & Calendars",
        "isHeader": true
      },
      {
        "name": "CardDAV",
        "standard": "pending",
        "sbe": "pending",
        "enterprise": "pending"
      },
      {
        "name": "CalDAV",
        "standard": "pending",
        "sbe": "pending",
        "enterprise": "pending"
      },
      {
        "name": "JMAP for Contacts",
        "standard": "pending",
        "sbe": "pending",
        "enterprise": "pending"
      },
      {
        "name": "JMAP for Calendars",
        "standard": "pending",
        "sbe": "pending",
        "enterprise": "pending"
      },
      {
        "name": "JMAP Tasks",
        "standard": "pending",
        "sbe": "pending",
        "enterprise": "pending"
      },
      {
        "name": "ActiveSync",
        "standard": "pending",
        "sbe": "pending",
        "enterprise": "pending"
      },
      {
        "name": "Backend support",
        "isHeader": true
      },
      {
        "name": "RocksDB",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "FoundationDB",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "PostgreSQL/AlloyDB",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "mySQL/MariaDB",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "SQLite",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "S3-compatible",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Redis",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "ElasticSearch",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Authentication",
        "isHeader": true
      },
      {
        "name": "LDAP",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "SQL",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "OAuth",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "OpenID Connect",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Two-factor authentication (2FA)",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "App passwords",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Third-party OIDC providers",
        "standard": "-",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "SAML",
        "standard": "-",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Security & Encryption",
        "isHeader": true
      },
      {
        "name": "Encryption-at-rest",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "ACME",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Access Control Lists",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Fail2ban",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Rate limiting",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Security Audited",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Memory safe",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Observability & Monitoring",
        "isHeader": true
      },
      {
        "name": "Tracing & Logging",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Metrics",
        "standard": "Limited",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Log viewer",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Webhooks",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Dashboard",
        "standard": "-",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Message delivery history",
        "standard": "-",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Live telemetry",
        "standard": "-",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Alerts",
        "standard": "-",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Cluster & HA",
        "isHeader": true
      },
      {
        "name": "Distributed",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Fault tolerant",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Coordinator-less",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Proxy protocol",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Kubernetes support",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Read replicas",
        "standard": "-",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Distributed blob storage",
        "standard": "-",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Enterprise features",
        "isHeader": true
      },
      {
        "name": "Multi-tenancy",
        "standard": "-",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Branding",
        "standard": "-",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Un-delete emails",
        "standard": "-",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Enhanced Telemetry",
        "standard": "-",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "AI-powered",
        "standard": "-",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Support",
        "isHeader": true
      },
      {
        "name": "Community support",
        "standard": "yes",
        "sbe": "yes",
        "enterprise": "yes"
      },
      {
        "name": "Premium support",
        "standard": "-",
        "sbe": "-",
        "enterprise": "yes"
      },
      {
        "name": "Lawful interception",
        "standard": "-",
        "sbe": "-",
        "enterprise": "yes"
      },
      {
        "name": "Dedicated Support Engineer",
        "standard": "-",
        "sbe": "-",
        "enterprise": "On demand"
      },
      {
        "name": "Custom SLA",
        "standard": "-",
        "sbe": "-",
        "enterprise": "On demand"
      }
];

function getIcon(status) {
  switch(status) {
    case 'yes':
      return '<i class="uil uil-check !bg-[#e0e9fa] text-[#3f78e0] !rounded-[50%] p-1 before:content-[\'\\e9dd\']"></i>';
    case 'pending':
      return '<i class="uil uil-check !bg-[#fff8ee] text-[#fab758] !rounded-[50%] p-1 before:content-[\'\\e9dd\']"></i>';
    default:
      return status;
  }
}
%>

<body>
        <div class="grow shrink-0">
                <header class="relative wrapper bg-soft-primary !bg-[#edf2fc]">
                        <%- include('include-header.ejs') %>
                </header>
                <!-- /header -->
                <section class="wrapper !bg-[#edf2fc]">
                        <div
                                class="container pt-10 pb-36 xl:pt-[4.5rem] lg:pt-[4.5rem] md:pt-[4.5rem] xl:pb-20 lg:pb-20 md:pb-20 !text-center">
                                <div class="flex flex-wrap mx-[-15px]">
                                        <div
                                                class="md:w-8/12 lg:w-7/12 xl:w-6/12 xxl:w-5/12 w-full flex-[0_0_auto] px-[15px] max-w-full !mx-auto mb-12">
                                                <h1
                                                        class="text-[calc(1.365rem_+_1.38vw)] font-bold leading-[1.2] xl:text-[2.4rem] !mb-3">
                                                        Compare editions
                                                </h1>
                                                <p
                                                        class="lead leading-[1.65] text-[0.9rem] font-medium lg:!px-7 xl:!px-7 xxl:!px-6">
                                                        Discover the differences between the
                                                        <span
                                                                class="relative z-[2] whitespace-nowrap after:content-[''] after:block after:absolute after:w-[102.5%] after:h-[30%] after:left-[-1.5%] after:z-[-1] after:transition-all after:duration-[0.2s] after:ease-in-out after:mt-0 after:rounded-[5rem] after:bottom-[9%] motion-reduce:after:transition-none after:bg-[rgba(63,120,224,.12)]">
                                                                community, small business and enterprise</span>
                                                        editions.
                                                </p>
                                        </div>
                                        <!-- /column -->
                                </div>
                                <!-- /.row -->
                        </div>
                        <!-- /.container -->
                </section>
                <!-- /section -->
                <section
                        class="wrapper !bg-[#ffffff]  angled upper-end !relative border-0 before:top-[-4rem] before:border-l-transparent before:border-r-[100vw] before:border-t-[4rem] before:border-[#fefefe] before:content-[''] before:block before:absolute before:z-0 before:!border-y-transparent before:border-0 before:border-solid before:right-0 after:top-[-4rem] after:border-l-transparent after:border-r-[100vw] after:border-t-[4rem] after:border-[#fefefe] after:content-[''] after:block after:absolute after:z-0 after:!border-y-transparent after:border-0 after:border-solid after:right-0">
                        <div class="container !pb-[2.5rem] xl:!pb-5 lg:!pb-5 md:!pb-5">
                                <div
                                        class="container pt-20 xl:pt-28 lg:pt-28 md:pt-28 pb-12 xl:pb-14 lg:pb-14 md:pb-14">
                                        <h2
                                                class="text-[calc(1.305rem_+_0.66vw)] font-bold xl:text-[1.8rem] leading-[1.3] !mb-3">
                                                Features
                                                comparison
                                        </h2>
                                        <p class="lead !text-[1.05rem] !leading-[1.6] font-medium">
                                                Compare the comprehensive features of our community, small business and enterprise
                                                editions.</p>
                                        <div class="flex flex-wrap mx-[-15px]">
                                                <div
                                                        class="xl:w-4/12 lg:w-4/12 w-full flex-[0_0_auto] px-[15px] max-w-full">
                                                        <p>If you have questions please read the <a
                                                                        href="#faq">licensing FAQ</a>.</p>
                                                </div>
                                                <!--/column -->
                                        </div>
                                        <!--/.row -->

                                        <div class="table-responsive mt-10 xl:!mt-0 lg:!mt-0">
                                                <table class="table table-borderless !text-center">
                                                        <thead>
                                                                <tr>
                                                                        <th class="!w-[22.5rem]"></th>
                                                                        <th>
                                                                                <div class="h4 !mb-1">Community</div>
                                                                                <div
                                                                                        class="!text-[.75rem] font-medium text-[#aab0bc]">
                                                                                        Free</div>
                                                                        </th>
                                                                        <th>
                                                                                <div class="h4 !mb-1">Small Business</div>
                                                                                <div
                                                                                        class="!text-[.75rem] font-medium text-[#aab0bc]">
                                                                                        starting at $120 per year
                                                                                </div>
                                                                        </th>
                                                                        <th>
                                                                          <div class="h4 !mb-1">Enterprise</div>
                                                                          <div
                                                                                  class="!text-[.75rem] font-medium text-[#aab0bc]">
                                                                                  starting at $360 per year
                                                                          </div>
                                                                        </th>
                                                          </tr>
                                                        </thead>
                                                        <tbody>
                                                                <% features.forEach(feature => { if (feature.isHeader) { %>
                                                                          <tr style="background-color: #edf2fc;">
                                                                            <td class="option text-left" colspan="4"><b><%= feature.name %></b></td>
                                                                          </tr>
                                                                        <% } else { %>
                                                                          <tr>
                                                                            <td class="option text-left"><%= feature.name %></td>
                                                                            <td><%- getIcon(feature.standard) %></td>
                                                                            <td><%- getIcon(feature.sbe) %></td>
                                                                            <td><%- getIcon(feature.enterprise) %></td>
                                                                          </tr>
                                                                <% }  }); %>
                                                        </tbody>
                                                        <tfoot>
                                                                <tr>
                                                                        <th class="!w-[22.5rem]"></th>
                                                                        <th></th>
                                                                        <th><a href="https://license.stalw.art/buy" 
                                                                                        class="btn btn-soft-primary !rounded-[50rem] mt-1">Purchase</a>
                                                                        </th>
                                                                        <th><a href="https://license.stalw.art/buy" 
                                                                                        class="btn btn-soft-primary !rounded-[50rem] mt-1">Purchase</a>
                                                                        </th>
                                                                </tr>
                                                                <tr>
                                                                        <th class="!w-[22.5rem]"></th>
                                                                        <th></th>
                                                                        <th><a href="https://license.stalw.art/trial" 
                                                                                        class="btn btn-soft-primary !rounded-[50rem] mt-1">Evaluate</a>
                                                                        </th>
                                                                        <th><a href="https://license.stalw.art/trial" 
                                                                                        class="btn btn-soft-primary !rounded-[50rem] mt-1">Evaluate</a>
                                                                        </th>
                                                                </tr>
                                                        </tfoot>
                                                </table>
                                        </div>
                                        <!-- /.table-responsive -->
                                </div>


                        </div>
                        <!-- /.container -->
                </section>

                <section class="wrapper !bg-[#edf2fc]">
                        <div class="container py-[4.5rem] xl:!py-24 lg:!py-24 md:!py-24" id="faq">
                                <div class="flex flex-wrap mx-[-15px]">
                                        <div
                                                class="lg:w-11/12 xl:w-11/12 xxl:w-10/12 w-full flex-[0_0_auto] px-[15px] max-w-full !mx-auto !text-center">
                                                <h2
                                                        class="!text-[.75rem] uppercase text-[#3f78e0] tracking-[0.02rem] leading-[1.35] !mb-3">
                                                        LICENSING FAQ</h2>
                                                <h3
                                                        class="text-[calc(1.305rem_+_0.66vw)] font-bold xl:text-[1.8rem] !leading-[1.3] mb-10 lg:!px-14 xl:!px-10 xxl:!px-20">
                                                        If you don't see an answer to your question, you can send us an
                                                        email from our contact form.</h3>
                                        </div>
                                        <!--/column -->
                                </div>
                                <!--/.row -->
                                <div class="flex flex-wrap mx-[-15px]">
                                        <div
                                                class="xl:w-7/12 lg:w-7/12 w-full flex-[0_0_auto] px-[15px] max-w-full !mx-auto">
                                                <div id="accordion-3" class="accordion-wrapper">
                                                        <div
                                                                class="card accordion-item !shadow-[0_0.25rem_1.75rem_rgba(30,34,40,0.07)] mb-5">
                                                                <div class="card-header mb-0 !p-[.9rem_1.3rem_.85rem] !border-0 bg-inherit"
                                                                        id="accordion-heading-3-1">
                                                                        <button class="!text-[#343f52] !text-[0.9rem] hover:!text-[#3f78e0] before:!text-[#3f78e0] collapsed"
                                                                                data-bs-toggle="collapse"
                                                                                data-bs-target="#accordion-collapse-3-1"
                                                                                aria-expanded="false"
                                                                                aria-controls="accordion-collapse-3-1">Why
                                                                                isn't feature X open source?</button>
                                                                </div>
                                                                <!-- /.card-header -->
                                                                <div id="accordion-collapse-3-1" class="collapse"
                                                                        aria-labelledby="accordion-heading-3-1"
                                                                        data-bs-target="#accordion-3">
                                                                        <div
                                                                                class="card-body flex-[1_1_auto]  p-[0_1.25rem_.25rem_2.35rem]">
                                                                                <p>Stalwart Labs aims to provide a
                                                                                        robust and feature-rich mail
                                                                                        server solution. However,
                                                                                        sustaining long-term development
                                                                                        for such a project requires
                                                                                        significant financial resources.
                                                                                        Currently, we do not have enough
                                                                                        open-source sponsors to cover
                                                                                        these costs fully.</p>

                                                                                <p>To bridge this funding gap and ensure
                                                                                        the developers can work
                                                                                        full-time and exclusively on
                                                                                        enhancing Stalwart Mail Server,
                                                                                        we offer a paid Enterprise
                                                                                        version. The revenue from the
                                                                                        Enterprise version is crucial
                                                                                        for maintaining the quality and
                                                                                        progress of both the paid and
                                                                                        open-source versions.</p>

                                                                                <p>Moreover, having a paid Enterprise
                                                                                        version directly benefits the
                                                                                        open-source community. The
                                                                                        continuous development funded by
                                                                                        the Enterprise version allows us
                                                                                        to introduce new features and
                                                                                        improvements to the open-source
                                                                                        version as well.</p>

                                                                                <p>It's important to note that the
                                                                                        community edition of Stalwart
                                                                                        Mail Server already boasts more
                                                                                        features than any other
                                                                                        open-source or paid mail server
                                                                                        solution available in the
                                                                                        market. We are committed to
                                                                                        maintaining and expanding this
                                                                                        lead.</p>

                                                                                <p>We invite you to <a
                                                                                                href="https://github.com/sponsors/stalwartlabs"
                                                                                                target="_blank">become a
                                                                                                sponsor</a> if
                                                                                        you wish to support the
                                                                                        open-source development further
                                                                                        and help us release more
                                                                                        features as open source in the
                                                                                        future. Your sponsorship can
                                                                                        make a significant difference in
                                                                                        the project's growth and
                                                                                        sustainability. Thank you for
                                                                                        your understanding and support.
                                                                                </p>
                                                                        </div>
                                                                        <!-- /.card-body -->
                                                                </div>
                                                                <!-- /.collapse -->
                                                        </div>
                                                        <!-- /.card -->
                                                        <div
                                                                class="card accordion-item !shadow-[0_0.25rem_1.75rem_rgba(30,34,40,0.07)] mb-5">
                                                                <div class="card-header mb-0 !p-[.9rem_1.3rem_.85rem] !border-0 bg-inherit"
                                                                        id="accordion-heading-3-2">
                                                                        <button class="!text-[#343f52] !text-[0.9rem] hover:!text-[#3f78e0] before:!text-[#3f78e0] collapsed"
                                                                                data-bs-toggle="collapse"
                                                                                data-bs-target="#accordion-collapse-3-2"
                                                                                aria-expanded="false"
                                                                                aria-controls="accordion-collapse-3-2">Can
                                                                                I trust that all open-source features
                                                                                will remain free?</button>
                                                                </div>
                                                                <!-- /.card-header -->
                                                                <div id="accordion-collapse-3-2" class="collapse"
                                                                        aria-labelledby="accordion-heading-3-2"
                                                                        data-bs-target="#accordion-3">
                                                                        <div
                                                                                class="card-body flex-[1_1_auto]  p-[0_1.25rem_.25rem_2.35rem]">
                                                                                <p><b>Yes.</b> At Stalwart Labs, we are
                                                                                        committed to maintaining the
                                                                                        integrity and accessibility of
                                                                                        Stalwart Mail Server as an
                                                                                        open-source project. We
                                                                                        understand the concerns arising
                                                                                        from past incidents where
                                                                                        popular open-source projects
                                                                                        have changed their licensing
                                                                                        models or moved certain features
                                                                                        behind a paywall. We want to
                                                                                        assure our community that we
                                                                                        have no intention of doing a
                                                                                        "rug pull."</p>

                                                                                <p>Stalwart Mail Server will remain
                                                                                        under the AGPLv3 license, and we
                                                                                        will not change any existing
                                                                                        open-source features into paid
                                                                                        ones. Our commitment to the
                                                                                        open-source community is
                                                                                        unwavering, and we promise to
                                                                                        keep the current open-source
                                                                                        version fully accessible and
                                                                                        free.</p>

                                                                                <p>Our paid Enterprise version exists
                                                                                        solely to support the long-term
                                                                                        sustainability and development
                                                                                        of the project. It allows us to
                                                                                        fund full-time development and
                                                                                        ensure that Stalwart Mail Server
                                                                                        continues to grow and improve.
                                                                                        The open-source version will
                                                                                        continue to receive updates,
                                                                                        enhancements, and new features
                                                                                        as part of our ongoing
                                                                                        commitment.</p>

                                                                                <p>We appreciate the trust and support
                                                                                        of our users and contributors.
                                                                                        If you have any questions or
                                                                                        concerns, please feel free to
                                                                                        reach out to us. Thank you for
                                                                                        believing in Stalwart Mail
                                                                                        Server and our mission to
                                                                                        provide a powerful, open-source
                                                                                        mail server solution.</p>
                                                                        </div>
                                                                        <!-- /.card-body -->
                                                                </div>
                                                                <!-- /.collapse -->
                                                        </div>
                                                        <!-- /.card -->
                                                        <div
                                                                class="card accordion-item !shadow-[0_0.25rem_1.75rem_rgba(30,34,40,0.07)] mb-5">
                                                                <div class="card-header mb-0 !p-[.9rem_1.3rem_.85rem] !border-0 bg-inherit"
                                                                        id="accordion-heading-3-3">
                                                                        <button class="!text-[#343f52] !text-[0.9rem] hover:!text-[#3f78e0] before:!text-[#3f78e0] collapsed"
                                                                                data-bs-toggle="collapse"
                                                                                data-bs-target="#accordion-collapse-3-3"
                                                                                aria-expanded="false"
                                                                                aria-controls="accordion-collapse-3-3">How
                                                                                does the Enterprise licensing
                                                                                work?</button>
                                                                </div>
                                                                <!-- /.card-header -->
                                                                <div id="accordion-collapse-3-3" class="collapse"
                                                                        aria-labelledby="accordion-heading-3-3"
                                                                        data-bs-target="#accordion-3">
                                                                        <div
                                                                                class="card-body flex-[1_1_auto]  p-[0_1.25rem_.25rem_2.35rem]">
                                                                                <p>Our Enterprise licensing for Stalwart
                                                                                        Mail Server is designed to be
                                                                                        flexible and scalable to meet
                                                                                        the needs of various
                                                                                        organizations. Licenses are sold
                                                                                        on a per-mailbox basis, allowing
                                                                                        you to purchase only what you
                                                                                        need, and charges are applied
                                                                                        monthly, providing a
                                                                                        straightforward and predictable
                                                                                        cost structure.</p>

                                                                                <p>We offer a tiered pricing scheme,
                                                                                        meaning the more mailboxes you
                                                                                        license, the lower the cost per
                                                                                        mailbox. For those who prefer an
                                                                                        annual billing cycle, we provide
                                                                                        attractive discounts as an
                                                                                        incentive for yearly payments.
                                                                                </p>

                                                                                <p>Once you purchase an Enterprise
                                                                                        license, you will receive a
                                                                                        license key. This key is used to
                                                                                        activate the Enterprise features
                                                                                        in Stalwart Mail Server,
                                                                                        unlocking advanced functionality
                                                                                        and premium support.</p>

                                                                                <p>Our goal is to provide a flexible
                                                                                        licensing model that grows with
                                                                                        your organization and offers the
                                                                                        best value for your investment.
                                                                                        If you have any questions about
                                                                                        our licensing options or need
                                                                                        help selecting the right plan
                                                                                        for your needs, our support team
                                                                                        is here to assist you.</p>
                                                                        </div>
                                                                        <!-- /.card-body -->
                                                                </div>
                                                                <!-- /.collapse -->
                                                        </div>
                                                        <!-- /.card -->
                                                        <div
                                                                class="card accordion-item !shadow-[0_0.25rem_1.75rem_rgba(30,34,40,0.07)] mb-5">
                                                                <div class="card-header mb-0 !p-[.9rem_1.3rem_.85rem] !border-0 bg-inherit"
                                                                        id="accordion-heading-3-4">
                                                                        <button class="!text-[#343f52] !text-[0.9rem] hover:!text-[#3f78e0] before:!text-[#3f78e0] collapsed"
                                                                                data-bs-toggle="collapse"
                                                                                data-bs-target="#accordion-collapse-3-4"
                                                                                aria-expanded="false"
                                                                                aria-controls="accordion-collapse-3-4">How
                                                                                can I upgrade to Enterprise?</button>
                                                                </div>
                                                                <!-- /.card-header -->
                                                                <div id="accordion-collapse-3-4" class="collapse"
                                                                        aria-labelledby="accordion-heading-3-4"
                                                                        data-bs-target="#accordion-3">
                                                                        <div
                                                                                class="card-body flex-[1_1_auto]  p-[0_1.25rem_.25rem_2.35rem]">
                                                                                <p>To upgrade to the Enterprise version
                                                                                        of Stalwart Mail Server, please
                                                                                        <a href="/contact">contact
                                                                                                us</a> using the form
                                                                                        provided on our website or via
                                                                                        email. Our team will respond
                                                                                        promptly with a customized quote
                                                                                        and payment details based on
                                                                                        your specific needs and the
                                                                                        number of mailboxes you wish to
                                                                                        license.
                                                                                </p>

                                                                                <p>We are actively working on making the
                                                                                        upgrade process more automated.
                                                                                        In the future, you will be able
                                                                                        to manage your Enterprise
                                                                                        subscription directly from
                                                                                        Stalwart's web-based management
                                                                                        interface, providing a seamless
                                                                                        and convenient upgrade
                                                                                        experience.</p>

                                                                                <p>For now, our support team is here to
                                                                                        assist you through the upgrade
                                                                                        process and ensure you have all
                                                                                        the information you need to make
                                                                                        the transition to Enterprise. If
                                                                                        you have any questions or need
                                                                                        further assistance, please don't
                                                                                        hesitate to reach out to us.</p>
                                                                        </div>
                                                                        <!-- /.card-body -->
                                                                </div>
                                                                <!-- /.collapse -->
                                                        </div>
                                                        <div
                                                                class="card accordion-item !shadow-[0_0.25rem_1.75rem_rgba(30,34,40,0.07)] mb-5">
                                                                <div class="card-header mb-0 !p-[.9rem_1.3rem_.85rem] !border-0 bg-inherit"
                                                                        id="accordion-heading-3-5">
                                                                        <button class="!text-[#343f52] !text-[0.9rem] hover:!text-[#3f78e0] before:!text-[#3f78e0] collapsed"
                                                                                data-bs-toggle="collapse"
                                                                                data-bs-target="#accordion-collapse-3-5"
                                                                                aria-expanded="false"
                                                                                aria-controls="accordion-collapse-3-5">What
                                                                                happens if I decide to cancel my
                                                                                Enterprise subscription?</button>
                                                                </div>
                                                                <!-- /.card-header -->
                                                                <div id="accordion-collapse-3-5" class="collapse"
                                                                        aria-labelledby="accordion-heading-3-5"
                                                                        data-bs-target="#accordion-3">
                                                                        <div
                                                                                class="card-body flex-[1_1_auto]  p-[0_1.25rem_.25rem_2.35rem]">

                                                                                <p>If you decide to cancel your Stalwart
                                                                                        Enterprise Edition subscription,
                                                                                        the server will automatically
                                                                                        revert to the Community Edition.
                                                                                        This transition will disable all
                                                                                        Enterprise features but will not
                                                                                        cause any data loss or interrupt
                                                                                        the service. Your existing data
                                                                                        and emails will remain intact
                                                                                        and accessible, ensuring a
                                                                                        seamless experience for your
                                                                                        users without any disruption.
                                                                                </p>
                                                                        </div>
                                                                        <!-- /.card-body -->
                                                                </div>
                                                                <!-- /.collapse -->
                                                        </div>
                                                        <!-- /.card -->
                                                </div>
                                                <!-- /.accordion-wrapper -->
                                        </div>
                                        <!-- /column -->
                                </div>
                                <!-- /.row -->
                        </div>
                        <!-- /.container -->
                </section>

                <section
                        class="wrapper !bg-[#ffffff]  angled upper-end !relative border-0 before:top-[-4rem] before:border-l-transparent before:border-r-[100vw] before:border-t-[4rem] before:border-[#fefefe] before:content-[''] before:block before:absolute before:z-0 before:!border-y-transparent before:border-0 before:border-solid before:right-0 after:top-[-4rem] after:border-l-transparent after:border-r-[100vw] after:border-t-[4rem] after:border-[#fefefe] after:content-[''] after:block after:absolute after:z-0 after:!border-y-transparent after:border-0 after:border-solid after:right-0">
                        <div class="container !pb-[2.5rem] xl:!pb-10 lg:!pb-10 md:!pb-10">
                                <p>&nbsp;</p>
                        </div>
                </section>

                <!-- /section -->
        </div>
        <!-- /.content-wrapper -->
        <%- include('include-footer.ejs', { cta: 'Ready to Upgrade?' ,
                ctaSub: 'Contact us today to get started with the Small Business or Enterprise Edition and unlock premium features.' ,
                ctaButton: 'Contact us' , ctaLink: '/contact' }) %>
</body>

</html>